<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/songs">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div  class="span6 offset3" align="center">
      <%= yield %>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="javascript/bootstrap.js"></script>
</body>
</html>
